{erl_opts, [nowarn_export_all]}.
{deps_dir, "deps"}.
{deps, [{kvs, ".*", {git, "git://github.com/synrc/kvs", {tag,"8.12.0"}}},
        {rocksdb, ".*", {git, "https://gitlab.com/barrel-db/erlang-rocksdb", {tag, "1.6.0"}}},
        {syn, ".*", {git, "git://github.com/ostinelli/syn", {tag,"2.1.0"}}}]}.
{shell, [
    {config, "sys.config"},
    {apps, [rocksdb,kvs,syn,bpe]}
]}.
{project_plugins, [rebar3_format]}.
{format, [
    {files, ["src/*.erl", "test/*.erl"]},
    {formatter, otp_formatter},
    {options, #{ line_length => 108,
                 paper => 250,
                 spaces_around_fields => false,
                 inlining => all,
                 inline_clause_bodies => true,
                 inline_expressions => true,
                 inline_qualified_function_composition => true,
                 inline_simple_funs => true,
                 inline_items => all,
                 inline_fields => true,
                 inline_attributes => true
                 }}]}.
