{erl_opts, [nowarn_export_all]}.
{deps_dir, "deps"}.
{deps, [
    {bert,   ".*", {git, "git://github.com/synrc/bert",    []}},
    {active, ".*", {git, "git://github.com/synrc/active",  []}},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",     []}},
    {syn,    ".*", {git, "git://github.com/ostinelli/syn", []}}
]}.
