{erl_opts, [debug_info]}.
{deps_dir, "deps"}.
{deps, [
    {bert,   ".*", {git, "git://github.com/synrc/bert",    {tag,""}}},
    {active, ".*", {git, "git://github.com/synrc/active",  {tag,"1.9"}}},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",     {tag,"master"}}},
    {syn,    ".*", {git, "git://github.com/ostinelli/syn", {tag,"1.5.0"}}}
]}.
