[{forms,[{registry,[bpe_row,bpe_trace,bpe_otp,bpe_act]},
         {nostand,true}]},
 {bert,[{js,"priv/static"}]},
  {bpe, [{nostand,false}]},
  {n2o, [{port,8003},
         {cowboy_spec,cow2},
         {app,bpe},
         {upload,"./priv/static/"},
         {routes,bpe_route},
         {mq,n2o_gproc},
         {formatter,n2o_bert},
         {protocols,[n2o_heart,n2o_nitro,n2o_ftp,bpe_n2o]},
         {minify,{"priv/static",[]}},
         {log_modules,[bpe,bpe_index,bpe_login,bpe_forms,bpe_process,n2o_nitro,bpe_app,bpe_n2o]},
         {log_backend,n2o_io},
         {session,n2o_session},
         {origin,<<"*">>},
         {pickler,n2o_secret},
         {erroring,n2o},
         {event,pickle}]},
  {kvs, [{dba,store_mnesia},
         {schema, [ kvs_user, kvs_acl, kvs_feed, kvs_subscription, bpe_metainfo ]} ]} ].
