@font-face{
  font-family:"Microgramma";
  src:url("http://www.myfontfree.com/data/518/m/microgrammabold/Microgramma Bold.ttf");
}

@font-face{
  font-family:"EUROSTYLE_CYR";
  src:url("http://www.myfontfree.com/data/502/e/eurostyle_cyr/EVROS1.ttf");
}
